@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary-color: #2b6cb0;
  background-color: #fff;
}

.dark {
  --primary-color: #bfdbf7;
  background-color: #010400;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}