@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  background-color: #fff;
}

.dark {
  background-color: #1e1e2e;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}