---
import GithubIcon from "@lucide/astro/icons/github";
import Mail from "@lucide/astro/icons/mail";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Luis Fonseca">
	<main class="max-w-screen-md mx-auto px-4 py-12 my-8">
		<h1 class="text-6xl font-bold mb-8">Hello there 👋</h1>
		<p class="text-2xl">
			I'm Luis Fonseca, a computer science student at <a
				class="text-(--primary-color) underline"
				href="https://www.ucr.ac.cr"
				target="_blank"
				rel="noopener noreferrer">Universidad de Costa Rica.</a
			>
		</p>
	</main>
	<footer class="text-center">
		<p class="flex justify-center gap-4">
			<a
				href="mailto:luis.fonsecachinchilla@ucr.ac.cr"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Mail />
			</a>
			<a
				href="https://github.com/luis-fch"
				target="_blank"
				rel="noopener noreferrer"
			>
				<GithubIcon />
			</a>
		</p>
	</footer>
</HomeLayout>

<style>
	h1 {
		font-family: "Playfair Display", serif;
	}
</style>
