---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const links = [
  { href: `/${lang}/blog`, label: t("nav.blog"), aria: t("nav.blog.aria") },
];
---

<nav class="flex items-center px-4 py-4 text-lg">
  <div class="flex-1">
    <a href="/" aria-label="Home page">LF</a>
  </div>
  <ul class="flex flex-row gap-8">
    {
      links.map((link) => (
        <li>
          <a
            class="underline decoration-site-primary"
            href={link.href}
            aria-label={link.aria}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
