---
import {
  getLangFromUrl,
  useTranslations,
  getLanguageStaticPaths,
} from "../../i18n/utils";
import HomeLayout from "../../layouts/HomeLayout.astro";

const urlLang = getLangFromUrl(Astro.url);
const t = useTranslations(urlLang);

export async function getStaticPaths() {
  return getLanguageStaticPaths();
}
---

<HomeLayout title={t("404.head.title")}>
  <main class="px-4 py-12 my-8">
    <h1 class="text-3xl font-bold mb-8">{t("404.h1.title")}</h1>
    <p class="text-lg">{t("404.p.description")}</p>
  </main>
</HomeLayout>
