---
import { getCollection } from "astro:content";
import {
  getLangFromUrl,
  useTranslations,
  getLanguageStaticPaths,
} from "../../i18n/utils";
import HomeLayout from "../../layouts/HomeLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

const urlLang = getLangFromUrl(Astro.url);
const t = useTranslations(urlLang);

export async function getStaticPaths() {
  return getLanguageStaticPaths();
}

const allPosts = await getCollection("blog");
const posts = allPosts.filter((post) => post.id.startsWith(`${urlLang}`));

const recentPostsCount = 3;
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.published_date).getTime() -
    new Date(a.data.published_date).getTime(),
);
const recentPosts = sortedPosts.slice(0, recentPostsCount);
---

<HomeLayout title={t("blog.head.title")}>
  <main class="px-4 py-12 my-8">
    <h1 class="text-3xl font-bold mb-8">{t("blog.h1.recent")}</h1>
    <div class="grid gap-2">
      {
        recentPosts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            published_date={post.data.published_date.toLocaleDateString(
              urlLang,
              {
                year: "numeric",
                month: "long",
                day: "numeric",
              },
            )}
            id={post.id}
          />
        ))
      }
    </div>
    <!-- {
      sortedPosts.length > recentPostsCount ? (
        <span class="my-2 flex justify-end text-sm font-bold underline">
          <a href="/blog/all">See all blog posts</a>
        </span>
      ) : null
    } -->
  </main>
</HomeLayout>
