---
import {
	getLangFromUrl,
	useTranslations,
	getLanguageStaticPaths,
} from "../../i18n/utils";

import GithubIcon from "@lucide/astro/icons/github";
import Mail from "@lucide/astro/icons/mail";
import HomeLayout from "../../layouts/HomeLayout.astro";

const urlLang = getLangFromUrl(Astro.url);
const t = useTranslations(urlLang);

export async function getStaticPaths() {
	return getLanguageStaticPaths();
}
---

<HomeLayout title={t("index.head.title")}>
	<main class="px-4 py-12 my-8">
		<h1 class="text-3xl font-bold mb-8">{t("index.h1.greeting")}</h1>
		<p class="text-lg">
			{t("index.p.description")}
			<a
				class="underline decoration-site-primary"
				href="https://www.ucr.ac.cr"
				target="_blank"
				rel="noopener noreferrer">{t("index.p.university")}</a
			>
		</p>
	</main>
	<footer>
		<nav class="flex justify-center gap-4">
			<a
				href="mailto:luis.fonsecachinchilla@ucr.ac.cr"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Email Luis Fonseca"
			>
				<Mail />
			</a>
			<a
				href="https://github.com/luis-fch"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Luis Fonseca's GitHub"
			>
				<GithubIcon />
			</a>
		</nav>
	</footer>
</HomeLayout>
