---
import { getCollection, render } from "astro:content";
import HomeLayout from "../../../layouts/HomeLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const paths = posts.map((post) => {
    const [lang, ...slug] = post.id.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: post };
  });

  return paths;
}

const { lang, slug } = Astro.params;
const post = Astro.props;
const { Content } = await render(post);
---

<HomeLayout title={`${post.data.title} | Luis Fonseca`}>
  <main class="px-4 py-12 my-8">
    <article>
      <section>
        <h1 class="text-3xl font-bold">{post.data.title}</h1>
        <div class="flex gap-3 text-base text-current/60">
          <span>
            {
              post.data.published_date.toLocaleDateString(lang, {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }</span
          >
          <span class="font-bold">•</span>
          <span>
            {
              post.data.reading_time
                ? `${post.data.reading_time} min`
                : "-"
            }</span
          >
        </div>
      </section>
      <section class="blog-content">
        <Content />
      </section>
    </article>
  </main>
</HomeLayout>
